.h-link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    position: relative;

    &::after {
        content: "";
        height: 1.5px;
        background-color: currentColor;

        position: absolute;
        bottom: 0;
        left: 100%;
        right: 100%;

        transition: all 350ms linear;
    }

    &:hover:not(.-header)::after {
        left: 0;
        right: 0;
    }
}
