@use 'abstract';

.button {
    color: abstract.$white;
    border: 1.5px solid;
    display: inline-block;

    text-decoration: none;
    text-transform: uppercase;
    padding: 0.8125em 1.25635rem;

    transition: all 200ms linear;

    &:hover, &:focus {
        outline: 1.5px solid;
        outline-offset: -5px;
    }
}
