@use 'abstract';

.footer {
    margin-top: 8.75rem;
    background-image: url(../../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-color: abstract.$very-Light-gray;
    padding-top: 5.25rem;
    background-position: top center;

    @media (min-width: 60rem) {
        background-image: url(../../images/bg-pattern-footer-desktop.svg);
        background-position: unset;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.9375rem;
        margin-bottom: 2.5rem;
        outline: 1px solid transparent;
        transition: all 350ms linear;
        @media (min-width: 60rem) {
            margin: unset;
        }

        a {
            outline: none;

            &:focus, &:hover {
                outline: 1px solid abstract.$very-dark-violet;
                outline-offset: 4px;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem 0;

        @media (min-width: 60rem) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }

    &__links {
        margin-top: 2.375rem;
        @media (min-width: 60rem) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__items {
        list-style: none;
    }

    &__items + &__items {
        margin-top: 2.375rem;
        @media (min-width: 60rem) {
            margin: unset;
        }
    }

    &__item + &__item {
        margin-top: 1rem;
    }

    &__link {
        color: abstract.$dark-Violet;
        font-size: 0.8125rem;
    }

    &__item {
        &.-header {
            color: abstract.$dark-Grayish-violet;
            margin-bottom: 2.375rem;
            display: block;
        }
    }
}
