@use 'abstract';

.footer {
    margin-top: 8.75rem;
    background-image: url(../../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-color: abstract.$very-light-gray;
    padding: 5.25rem 4rem;
    background-position: top left;

    @media (min-width: 45rem) {
        background-image: url(../../images/bg-pattern-footer-desktop.svg);
        background-position: unset;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.9375rem;
        margin-bottom: 2.5rem;

        @media (min-width: 60rem) {
            margin: unset;
        }

        a {
            outline: 2px solid transparent;
            transition: all 200ms linear;

            &:focus, &:hover {
                outline: 2px solid abstract.$dark-grayish-violet;
                outline-offset: 3px;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem 0;

        @media (min-width: 60rem) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }

    &__links {
        margin-top: 2.375rem;
        display: grid;
        grid-gap: 2.375rem;

        @media (min-width: 45rem) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 60rem) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__items {
        list-style: none;
    }

    &__items + &__items {
        margin-top: 2.375rem;
        @media (min-width: 45rem) {
            margin: unset;
        }
    }

    &__item + &__item {
        margin-top: 1rem;
    }

    &__link {
        color: abstract.$dark-violet;
        font-size: 0.8125rem;
    }

    &__item {
        &.-header {
            color: abstract.$dark-grayish-violet;
            margin-bottom: 2.375rem;
            display: block;
        }
    }
}
