@use 'abstract';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;

    position: relative;

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    &__logo {
        &:focus-within, &:hover {
            outline: 1px dotted abstract.$grayish-blue;
            outline-offset: 2px;
        }

        a {
            text-decoration: none;
            outline: none;
        }
    }

    .nav {
        opacity: 0;
        z-index: -1;
        height: 0;
        transition: all 350ms linear;

        position: absolute;
        left: 0;
        right: 0;
        top: 5rem;
        bottom: 0%;

        padding-top: 3rem;
        min-height: 100vh;
        background-color: abstract.$very-dark-violet;

        @media (min-width: 45rem) {
            opacity: 1;
            z-index: 1;
            height: auto;
            position: initial;
            background: initial;
            min-height: initial;
            padding-top: 0;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: 0;

            background-image: url(../../images/bg-pattern-mobile-nav.svg);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 100% auto;

            @media (min-width: 45rem) {
                content: initial;
            }
        }

        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem 0;

            color: abstract.$white;
            font-weight: bold;
            font-size: 1.25rem;

            list-style: none;
            text-transform: uppercase;

            @media (min-width: 45rem) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: abstract.$very-dark-violet;
                font-size: 0.9375rem;
                gap: 0 1rem;
            }
        }

        &__link {
            text-decoration: none;
            color: inherit;
        }
    }
}

#toggle:checked ~ .nav {
    opacity: 1;
    z-index: 3;
    height: auto;

    &::after {
        min-height: 18.625rem;
    }
}
