@use 'abstract';
@use '../shared/_layout.scss';

.hero {
    background-color: abstract.$dark-violet;
    position: relative;

    @media (min-width: 60rem) {
        &::before, &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            z-index: 2;
        }

        &::before {
            background-image: url(../../images/bg-pattern-intro-left-desktop.svg);
            width: 31.5rem;
            height: 100%;
            left: 0;
            bottom: -70%;
        }

        &::after {
            background-image: url(../../images/bg-pattern-intro-right-desktop.svg);
            width: 27.25rem;
            height: 100%;
            right: 0;
            top: 0;
        }
    }

    &__container {
        @media (min-width: 60rem) {
            display: flex;
            flex-direction: row-reverse;
            width: 80%;
            margin-inline: auto;
        }
    }

    &__img {
        @media (min-width: 60rem) {
            width: 50%;
            align-self: flex-start;
            transform: translateY(7rem);
        }
    }

    &__intro {
        padding-block: 6.25rem 7rem;
        color: abstract.$white;
        position: relative;
        z-index: 3;

        &::before, &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            @media (min-width: 60rem) {
                content: initial;
            }
        }

        &::before {
            background-image: url(../../images/bg-pattern-intro-left-mobile.svg);
            width: 10.5rem;
            height: 100%;
            left: 0;
            top: 0;
        }

        &::after {
            background-image: url(../../images/bg-pattern-intro-right-mobile.svg);
            width: 7.5rem;
            height: 100%;
            right: 0;
            top: 70%;
            z-index: 2;
        }

    }

    &__title {
        font-family: abstract.$font-alt;
        font-size: 3rem;
        line-height: 1;
        max-width: 15ch;
        margin-inline: auto;

        @media (min-width: 60rem) {
            font-size: 4.5rem;
            margin-inline: initial;
        }

        @media (min-width: 60rem) {
            &::before {
                content: "";
                display: block;
                background-color: abstract.$dark-grayish-violet;
                height: 1px;
                width: 9.375rem;
                margin-bottom: 1rem;
            }
        }
    }

    &__text {
        margin-top: 1rem;
        max-width: 55ch;
        margin-inline: auto;
        @media (min-width: 60rem) {
            margin-inline: initial;
        }
    }

    &__button {
        margin-top: 2.5rem;
    }
}
